@inherits RazorBlade.PlainTextTemplate<PatternDataGenerator>;
@{
    var classNames = Model.ClassWithExamples;
    var example = "Examples";
    if(classNames.Length == 1)
    {
        example = "Example";
    }
}

Pattern:  @Model.Title 

<h2> Description</h2>
@foreach (var item in @Model.Description)
{
    @item
    <br/>
}

<h2> @example in .NET :</h2>

@for(var ci = 0; ci < classNames.Length; ci++)
{
<text>
        <h3>  @classNames[ci].Name </h3>
[code lang='csharp']
@classNames[ci].Code
[/code]

</text>
}

<h2> Learn More</h2>

@if (Model.Links?.Length> 0)
{
<text>
<b> Source Code for Microsoft implementation of @Model.Title</b>

@foreach (var link in Model.SourceCodeLinks())
{
    <a href="@link.Link" target="_blank">@link.Name</a>
    <br />
}


<b> Learn More</b>

@foreach (var link in Model.ExternalLinks())
{
    <a href="@link.Link" target="_blank">@link.Name</a> <br />
}

</text>
}


    
}

<h2> Homework </h2>

@foreach (var item in @Model.Homework)
{
    @item
    <br />
}

